.u-background-primary {
    background-color: $color-primary !important;
}

.u-background-yellow {
    background-color: $color-yellow !important;
}

.u-background-gold {
    background-color: $color-gold !important;
}

.u-background-coral {
    background-color: $color-coral !important;
}

.u-background-coral-hover {
    background-color: $color-coral-hover !important;
}

.u-background-white {
    background-color: white !important;
}


.u-background-gray-1 {
    background-color: $color-gray-1 !important;
}

.u-background-gray-2 {
    background-color: $color-gray-2 !important;
}

.u-background-gray-3 {
    background-color: $color-gray-3 !important;
}

.u-background-gray-4 {
    background-color: $color-gray-4 !important;
}