///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$color-primary: #4281A4;
$color-secondary: #9cafb7;
$color-tertiary: #d16014;

$color-button: #c17767;
$color-button-hover: #C76C58;

$color-text-primary: #c17767;
$color-text-secondary: white;

$global-opacity-transparent: 0.4;

